.DS_Store
.gradle
.idea
.classpath
.project
.settings
.yardoc
.yardopts
bin
/build
target
out
*.iml
*.ipr
*.iws
test-output
Scratch.java
ScratchTest.java
test-results
test-tmp
*.class
mods
.jruby
.sass-cache
vertx_classpath.txt
/.nb-gradle/private/
Session.vim
*.swp
